<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center">
          <h1 class="mt-3 mb-3">Titulo</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
  
              <mat-card *ngFor="let c of contatos" fxFlex="0 1 calc(50% + 11px)"
              fxFlex.lt.md="0 1 calc(50% + 11px)"
              fxFlex.lt.sm="0%">
                  <mat-card-header>
                      <mat-card-title>Usuario teste</mat-card-title>
                      <mat-card-subtitle> Nome</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        jbsjdvbjhdsv sdvsdh hd h
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button class="color-teste">Primary</button>
                      <button mat-raised-button color="primary">Primary</button>
                    </mat-card-actions>
              </mat-card>
        </div>

        
</div>

 